/* 
    Document   : globalstyle
    Created on : Jul 9, 2013, 11:51:00 AM
    Author     : Enesi
    Description:
        Define global style for all pages in CBT
*/

/* Style for the body of the page*/
html{height: 100%;}
body{
    /*background-color: #beeaa6;*/
    padding:0px;
    margin:0px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    background-image: url('../img/bglogo.jpg');
    background-attachment:  fixed;
    background-position:  90% 90%;
    background-repeat:  no-repeat;
    background-size: 300px 300px;

}

/*Style for the banner*/
#bannerparent {
    width:100%;
    position:fixed;
    top:0px;
    padding:0px;
}

#banner{
    background-color: #3b82f6;
    width:90%;
    padding:0px;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0px 1px 8px #000000;
    -o-box-shadow:0px 1px 8px #000000;
    -ms-box-shadow:0px 1px 8px #000000;
    -webkit-box-shadow:0px 1px 8px #000000;
    -moz-box-shadow:0px 1px 8px #000000;
}

#banner-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#banner-img{
    background-color: #0f766e;
    border-style: none;
    border-width:0px;
    min-height: 100px;

}

#navbar
{
    height: 30px;
    border-style: solid;
    border-width: 0px;
    background-color: transparent;
    padding-left: 20px;
}

.nav:hover
{
    background-color:  rgba(255, 255, 255, 0.2);
}

.active-nav
{
    background-color:  rgba(255, 255, 255, 0.25);
}

.nav-img{
    width:15px;
    height: 15px;
}

.nav
{
    display:inline-block;
    padding:3px;
    margin:0px;
    height: 17px;
    border-width: 0px;
    text-align: center;
    font-weight: bold;
    vertical-align: baseline;
    padding-top: 9px;
    line-height: 20px;
    font-family: "bariollight","Helvetica neue",helvetica,sans-serif;
}

.nav a{
    text-decoration:  none;
    color: #ffffff;
}

a img{
    border-style:none;
    border-width: 0px;

}
.nav a:hover{
    text-decoration: underline;
    color: #ffffff;

}

#userdetail
{
    float:right;
    padding:3px;
    margin:0px;
    height: 17px;
    border-width: 0px;
    text-align: center;
    vertical-align: baseline;
    padding-top: 10px;
    line-height: 20px;
    padding-right: 10px;
    font-size: 12px;
    color: #ffffff;
}

#userdetail a
{
    color: #ffffff;
    text-decoration: none;
}

#userdetail a:hover
{
    text-decoration: underline;
    color: #dbeafe;
}

#content
{
    min-height: 500px;
    background-color:transparent;
    padding:10px;
    margin:0px;
    margin-top:170px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

}

#footer-div
{
    width:70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*Styling form controls and tables*/
.style-frm
{
    padding:0px;
    margin:0px;

}
.style-frm input, .style-frm select, .style-frm textarea, .style-frm fieldset, .style-frm legend, .style-frm button
{
    padding:0px;
    margin:0px;
    border-width:0px;
    border-style:none;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height: 20px;
    outline-style: none;
}

.style-frm input:focus, .style-frm select:focus, .style-frm textarea:focus, .style-frm button:focus
{
    border-color:#3b82f6;
    box-shadow:0px 0px 10px 0.2px #3b82f6;
    -o-box-shadow:0px 0px 10px 0.2px #66b240;
    -ms-box-shadow:0px 0px 10px 0.2px #66b240;
    -webkit-box-shadow:0px 0px 10px 0.2px #66b240;
    -moz-box-shadow:0px 0px 10px 0.2px #66b240;
    outline-style: none;

}

.style-frm input, .style-frm button
{
    padding:3px;
    margin:3px;
    border-style:solid;
    border-width: 1px;
    border-color:  #dbeafe;
    height: 20px;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;

}


.style-div
{
    padding:3px;
    margin:3px;
    border-style:solid;
    border-width: 1px;
    border-color:  #dbeafe;
    min-height: 20px;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;

}

.style-frm input[type=radio], .style-frm input[type=checkbox]
{
    height: auto;
    line-height: normal;
}

.style-frm input[type=submit], .style-frm input[type=reset], .style-frm button
{
    cursor:pointer;
    height: auto;
    line-height: normal;
    background-color: #93c5fd;
    color: #1e3a8a;
    font-weight:  500;
}

.style-frm input:hover, .style-frm select:hover, .style-frm textarea:hover
{
    border-color:  #3b82f6;
}
.style-frm input[type=submit]:hover, .style-frm input[type=reset]:hover, .style-frm button:hover
{
    background-color: #60a5fa;
    color: #1e3a8a;
    font-weight:  500;
    border-color: #3b82f6;
}
.style-frm select
{
    padding:3px;
    margin:3px;
    border-style:solid;
    border-width: 1px;
    border-color:  #dbeafe;
    min-height: 30px;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.style-frm textarea
{
    padding:3px;
    margin:3px;
    border-style:solid;
    border-width: 1px;
    border-color:  #dbeafe;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.style-frm legend
{
    padding:3px;
    margin:3px;
    border-style:solid;
    background-color: #dbeafe;
    border-width: 1px;
    border-color:  #dbeafe;
    height: 20px;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.style-frm fieldset
{
    padding:3px;
    margin:3px;
    border-style:solid;
    border-width: 1px;
    border-color:  #dbeafe;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.alert-error
{
    padding:0px;
    margin:0px;
    padding:3px;
    margin:3px;
    line-height: 20px;
    vertical-align: middle;
    background-color:rgb(242, 222, 222); 
    color:rgb(185, 74, 72);
    border-color:rgb(238, 211, 215);
    border-width:1px;
    border-style:solid;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;

}

.alert-success
{
    padding:0px;
    margin:0px;
    padding:3px;
    margin:3px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #d7f9c6; 
    color:darkgreen;
    border-color:green;
    border-width:1px;
    border-style:solid;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;

}

.alert-notice
{
    padding:0px;
    margin:0px;
    padding:3px;
    margin:3px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #dbeafe; 
    color:#0f766e;
    border-color:#2563eb;
    border-width:1px;
    border-style:solid;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;

}

.style-tbl, .style-tbl-striped
{
    border-width: 1px;
    border-color:#dbeafe;
    border-style: solid;
    margin:0px;
    padding:0px;
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #ffffff;
}

.style-tbl tr:hover
{
    background-color: #dbeafe;
}

.style-tbl-striped tr:nth-child(odd)
{
    background-color: #dbeafe;
}

.style-tbl-striped tr:nth-child(odd):hover
{
    background-color: #dbeafe;
}

.style-tbl tr
{
    border-width: 1px;
    border-color:#dbeafe;
    border-style: solid;
    margin:0px;
    padding:0px;
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}

.style-tbl th
{
    border-width: 1px;
    border-color:#dbeafe;
    border-style: solid;
    margin:0px;
    padding:0px;
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    background-color:  #93c5fd;
    color:  #1e3a8a;
}

.style-tbl td
{
    border-width: 1px;
    border-color:#dbeafe;
    border-style: solid;
    margin:0px;
    padding:0px;
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    padding:3px;

}

/** Content styling **/

.anchor{text-decoration: none; color:inherit;}
.anchor:hover{text-decoration: underline;}
h1{
    font-family: "bariollight","Helvetica neue",helvetica,sans-serif;
    font-size: 28px;
    color: #0f766e;
    text-rendering:optimizelegibility;
    font-weight: normal;
    margin:0px;
    padding:0px;
    min-width: 100px;
}

.cooltitle
{
    font-family: "bariollight","Helvetica neue",helvetica,sans-serif;
    font-size: 28px;
    color: #0f766e;
    text-rendering:optimizelegibility;
    font-weight: normal;
    margin:0px;
    padding:0px;
    min-width: 100px;
    max-width: 1000px;
    border-bottom-style: dashed;
    border-width: 2px;
    border-color: #2563eb;
}

.cooltitle2
{
    font-family: "bariollight","Helvetica neue",helvetica,sans-serif;
    font-size: 25px;
    color: #0f766e;
    text-rendering:optimizelegibility;
    font-weight: normal;
    margin:0px;
    padding:0px;
    min-width: 100px;
    max-width: 1000px;
    border-bottom-style: dotted;
    border-width: 2px;
    border-color: #2563eb;
}
.cooltitle3
{
    font-family: "bariollight","Helvetica neue",helvetica,sans-serif;
    font-size: 20px;
    color: #0f766e;
    text-rendering:optimizelegibility;
    font-weight: normal;
    margin:0px;
    padding:0px;
    min-width: 100px;
    max-width: 1000px;
}

.coolh2
{
    font-family: "bariollight","Helvetica neue",helvetica,sans-serif;
    font-size: 16px;
    color: #0f766e;
    text-rendering:optimizelegibility;
    font-weight: normal;
    margin:0px;
    padding:0px;
}

.coolhr
{
    border-style:dashed;
    border-width: 2px;
    border-color: #2563eb;
    margin: 0px;
    text-align: left;
    min-width: 100px;
}